<h2>How it works</h2>
<div class="container text-center padded features">
  <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3">
<img alt="" src="../assets/images/globe.png"></img>
<h2>Discover the world</h2>
<p>The earth is your new home.</p>
</div>
 <div class="col-xs-12 col-sm-6 col-md-3">
<img alt="" src="images/dollar.png"></img>
<h2>Pay online</h2>
<p>No cash issues anymore.</p>
</div>
 <div class="col-xs-12 col-sm-6 col-md-3">
<img alt="" src="images/beer.png"></img>
<h2>Meet people</h2>
<p>Discover new culture and lifestyle.</p>
</div>
 <div class="col-xs-12 col-sm-6 col-md-3">
<img alt="" src="images/heart.png"></img>
<h2>Share and love</h2>
<p>Join a community you will love.</p>
</div>
</div>
</div>
