<div id="newsletter" class="text-center padded">
    <h2>Get news from us</h2>
    <p>Leave us your mail and get news from us.</p>
    <form action="#" class="form-inline">
  <input type="email" class="form-control" placeholder="martin@gmail.com"></input>
  <input type="submit" value="Subscribe" class="btn btn-primary btn bordered btn-bordered primary"></input>
</form>
</div>
